%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:clientes, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:clientes, :new)

.tabs-content
  = form_for :cliente, url(:clientes, :create), :class => 'form-horizontal' do |f|
    =partial 'clientes/form', :locals => { :f => f }
